<nav class="menu">
    <ul class="menu__inner">
        {{- $currentPage := . -}}
        {{ range .Site.Menus.main -}}
            <li><a href="{{ .URL | relLangURL }}">{{ .Name }}</a></li>
        {{- end }}

        {{- if .Site.Params.EnableGlobalLanguageMenu }}
        <li class="language-selector">
            {{ range $.Translations }}
                <a href="{{ .Permalink }}" class="language-link" title="{{ .Language }}">
                    {{- $lang := .Language | lower -}}
                    {{ if eq $lang "en" }}🇺🇸
                    {{- else if or (eq $lang "pt-br") (eq $lang "pt_br") (eq $lang "ptbr") }}🇧🇷
                    {{- else if eq $lang "pt" }}🇧🇷
                    {{- else }}🌐
                    {{- end }}
                </a>
            {{ end }}
        </li>
        {{- end }}
    </ul>
</nav>