<nav class="menu">
    <ul class="menu__inner">
        {{- $currentPage := . -}}
        {{ range .Site.Menus.main -}}
            <li><a href="{{ .URL | relLangURL }}">{{ .Name }}</a></li>
        {{- end }}

        {{- if .Site.Params.EnableGlobalLanguageMenu }}
        <li class="language-selector">
            {{ range $.Translations }}
                <a href="{{ .Permalink }}" class="language-link" title="{{ .Language }}">
                    {{ if eq .Language "en" }}🇺🇸 EN{{ else if eq .Language "pt-br" }}🇧🇷 PT{{ else }}{{ .Language }}{{ end }}
                </a>
            {{ end }}
        </li>
        {{- end }}
    </ul>
</nav>
